<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>list</title>
  <style>
    b{
      display: block;
      margin: 10px 0
    }
    ol{
      overflow: hidden;
      padding: 0;
      list-style: none;
    }
    ol li{
      float: left;
    }
    img{
      width: 150px;
      height: 100%;
      margin: 5px;
    }
  </style>
</head>
<body>
  <ul>
    <% list.forEach(item =>{%>
      <li>
        <h3><%=item.date%></h3>
        <% item.lives.forEach(v=>{%>
          <div class="content">
            <b><%=new Date(v.created_at * 1000)%></b>
            <div><%=v.content%></div>
            <ol>
              <% v.images.forEach(img=>{%>
                <li>
                  <img src=<%=img.url%> alt="">
                </li>
              <%})%>
            </ol>
          </div>
        <%})%>
      </li>
    <%})%>
  </ul>
  <a href="/list?flag=up&id=<%=top_id%>">上一页</a>
  <a href="/list?flag=down&id=<%=bottom_id%>">下一页</a>
</body>
</html>